{% extends 'layouts/authlayout.twig' %}
{% set page_selected = 'collection' %}

{% block title %}
{{ parent() }} - Collection
{% endblock %}

{% block content %}
<table>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Valeur</th>
    </tr>
    </thead>
    <tbody>
    {% for clan in summary %}
        <tr>
            <td colspan="3" class="align-items-center text-center"><img src="{{ clan.logoUrl }}" alt="{{ clan.name }}" class="img-mini" /> {{ clan.name }}</td>
        </tr>
        {% for carte in totalSummary %}
            {% if carte.clan_id == clan.id %}
                <tr>
                    <td>{{ carte.name }}</td>
                    <td>{{ valeurs[carte.name].nbCartes }}</td>
                    <td>{{ valeurs[carte.name].valeurTexte }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}